*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;

}
header{
    background-color: rgb(240, 178, 133);
    width: 40%;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    min-height: 50vh; 
    width: 50%;
    background-color: burlywood;
   
}
aside{
    position: absolute;
    top: 200px;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: rgb(150, 34, 111);
    padding: 20px; /* Adiciona algum espaçamento interno se desejado */
    border: 1px solid #ccc; /* Adiciona uma borda para visualização */
    margin-left: 900px;
    background-color: aquamarine;
}
body {
    position: relative; /* Definir o corpo como relativo para posicionar o 'aside' */
}

aside p, aside ul, aside li{
    background-color: aquamarine;
}

