body,html{
    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

main{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 70vh;
   width: 700px;
   margin: auto;
   
}

form{
    height: 50px;
    width: 600px;
    
    border-radius: 5px;
}
input{
    width: 240px;
    height: 40px;
    border-radius: 5px;
    padding-left: 8px;
}
button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
img{
    max-width: 100px;
}